@model DrumkitStore.Models.Zamowienie

<h1>Dodaj Zamówienie</h1>

@using (Html.BeginForm("Create", "Zamowienia", FormMethod.Post))
{
    <div class="form-group">
        <label for="DrumkitId">Drumkit</label>
        @Html.DropDownListFor(
                m => m.DrumkitId,
                new SelectList(ViewBag.Drumkits, "Id", "Nazwa"),
                "Wybierz drumkit",
                new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DrumkitId)
    </div>

    <button type="submit" class="btn btn-primary">Zapisz</button>
}