@model IEnumerable<DrumkitStore.Models.Zamowienie>

<h2>Moje Zamówienia</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id Zamówienia</th>
            <th>Data Zamówienia</th>
            <th>Użytkownik</th>
            <th>Drumkit</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var zamowienie in Model)
        {
            <tr>
                <td>@zamowienie.Id</td>
                <td>@zamowienie.DataZamowienia.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@zamowienie.UserId</td>
                <td>@zamowienie.Drumkit?.Nazwa</td>
            </tr>
        }
    </tbody>
</table>